options:
  enable_debug_logs: true

image_management:
  # Number of healthy versions to keep (each version can have multiple images)
  # Older healthy versions will be automatically cleaned up
  # Default: 2 (current + 1 previous healthy version)
  keep_healthy_versions: 1
  
  # Clean up failed deployment images immediately
  # When true: if health check fails with on_failure='fail', stops containers and deletes images
  # When false: failed images are kept on the system
  # Default: true
  cleanup_on_failure: true

