<div class="welcome">
  <div class="welcome__content">
    <div class="welcome__header">
      <div class="welcome__icon">
        <i class="pi pi-box"></i>
      </div>
      <div class="welcome__text">
        <h1 class="welcome__title">Welcome to Dockflow</h1>
        <p class="welcome__description">
          No Dockflow project detected in the current directory. Get started by initializing a new project.
        </p>
      </div>
    </div>
    
    <div class="welcome__actions">
      <button class="btn btn--primary">
        <i class="pi pi-plus"></i>
        <span>Initialize Project</span>
      </button>
      <button class="btn btn--secondary">
        <i class="pi pi-folder-open"></i>
        <span>Open Project</span>
      </button>
    </div>
    
    <div class="welcome__quickstart">
      <h3 class="welcome__quickstart-title">Quick Start</h3>
      <pre class="welcome__code"><code><span class="comment"># Initialize a new project</span>
$ dockflow init

<span class="comment"># Configure your servers</span>
$ vim .dockflow/servers.yml

<span class="comment"># Deploy to production</span>
$ dockflow deploy production</code></pre>
    </div>
  </div>
</div>
