---
- name: Create Docker volume for Portainer data
  community.docker.docker_volume:
    name: portainer_data
    state: present

- name: Generate admin password hash
  community.docker.docker_container:
    name: portainer_htpasswd_temp
    image: httpd:2.4-alpine
    command: "htpasswd -nbB admin {{ lookup('env', 'PORTAINER_PASSWORD') | quote }}"
    detach: false
    cleanup: true
    state: started
  register: password_hash_output

- name: Extract password hash
  set_fact:
    admin_password_hash: "{{ password_hash_output.container.Output.split(':')[1] | trim }}"

- name: Deploy Portainer container
  community.docker.docker_container:
    name: portainer
    image: portainer/portainer-ce:lts
    state: started
    recreate: true
    restart_policy: always
    ports:
      - "8000:8000"
      - "9443:9443"
      - "{{ lookup('env', 'PORTAINER_HTTP_PORT') }}:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    command: "--admin-password='{{ admin_password_hash }}'"
