name: Build

on:
  workflow_call:
    inputs:
      free-disk-space:
        required: false
        type: boolean
        default: false
        description: "Free disk space by removing unnecessary tools"

env:
  DOCKFLOW_REPOSITORY_URL: https://github.com/Shawiizz/dockflow.git
  DOCKFLOW_FRAMEWORK_VERSION: 2.0.0-dev2

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Docker images

    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ inputs.free-disk-space }}
        uses: jlumbroso/free-disk-space@main
        with:
          docker-images: false

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          npm i -g shawiizz-decomposerize
          sudo apt-get update && sudo apt-get install -y python3-pip ansible
          pip3 install pyyaml

      - name: Clone dockflow repository
        run: git clone --depth 1 --branch "$DOCKFLOW_FRAMEWORK_VERSION" "$DOCKFLOW_REPOSITORY_URL" /tmp/dockflow

      - name: Build Docker images
        run: |
          export ROOT_PATH="$(pwd)"
          cd /tmp/dockflow
          ansible-playbook ansible/playbooks/build_images.yml --connection=local
