name: Deploy docs

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'

jobs:
  deploy:
    uses: Shawiizz/dockflow/.github/workflows/deploy.yml@2.0.19
    with:
      version: ${{ github.ref_name }}-${{ github.sha }}    
    secrets: inherit