name: Deploy docs

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      version: ${{ github.ref_name }}-${{ github.sha }}    
    secrets: inherit
